//==========================
// HOME PAGE
//==========================

//****** PARALLAX SECTION DIVIDERS ******
.parallax {
  height: 75vh;  
  background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
}