//==========================
// HOME PAGE
//==========================

//****** PARALLAX SECTION DIVIDERS ******
.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;

    &--A {
        height: 75vh;
        background-image: url(./img/parallax-img-medium.jpg);
    }

    &--B {
        height: 75vh;
        background-image: url(./img/parallax-img2-medium.jpg);
    }
}