//==========================
// MAINTENANCE PAGE
//==========================
.maintenance {
  height: 100vh;
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/maintenance-medium.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  overflow: hidden;

  a,
  a:link,
  a:visited {
    color: var(--color-white);
  }
}

.textbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-white);
}
