//==========================
// CAREERS JOB LIST SECTION
//==========================
@import "../scss/mixins";

.table-item {
  padding: 4rem 4rem 4rem 0;
  border-bottom: 1px solid var(--color-grey-light);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-black);
  vertical-align: top;

  &--title {
    color: var(--color-primary);
    font-weight: 700;

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}

.table-item-link:link,
.table-item-link:visited {
  transition: color 0.3s;
  color: inherit;
  text-decoration: none;
}

.department-desktop {
  @include respond(phone) {
    display: none;
  }
}

.department-mobile {
  color: var(--color-black);
  display: none;

  // &:hover {
  //   color: var(--color-primary-dark);
  // }

  @include respond(phone) {
    display: block;
    margin-top: 0.5rem;
  }
}
