//==========================
// PRIMARY BUTTON
//==========================
.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--default-font-size);
    font-weight: 400;
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 1.5rem 3rem;
    border: 1px solid var(--color-primary);
    transition: all 0.2s;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: none;
    transition: box-shadow 0.2s;

    //Reset styles for <button> elemets:
    outline: none;
    cursor: pointer;
  }

  &:active,
  &:hover {
    box-shadow: 0 0 0 1px var(--color-primary);
  }
}
