//==========================
// TEXT BUTTON
//==========================
.btn {
  font-size: var(--default-font-size);
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  color: var (--color-primary);
  border-bottom: 1px solid currentColor;
  transition: all 0.2s;

  &--white {
    &,
    &:link,
    &:visited {
      color: var(--color-white);
    }
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    // box-shadow: 0 1rem 2rem rgba($color-black, .15);
    // transform: translateY(-2px);
  }

  &:active {
    // box-shadow: 0 0.5rem 1rem rgba($color-black, .15);
    // transform: translateY(0);
  }
}
