//==========================
// CAREERS JOB LIST SECTION
//==========================
@import "../scss/mixins";

.job-list {
  min-height: 650px;
  width: 100%;
  padding: 12rem 0;
  text-align: center;

  h2 {
    margin-bottom: 4rem;
  }
}

.table {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;

  @include respond(small-tab) {
    width: 100%
  }
}

.table-header {
  color: var(--color-grey-medium);
  font-weight: 300;
}

.table-body {
  & tr {
    border-bottom: 1px solid var(--color-grey-light);
  }
}

.category-desktop {
  @include respond(phone) {
    display: none;
  }
}