//==========================
// CAREERS HEADER SECTION
//==========================
@import "../scss/mixins";

.header {
  min-height: 500px;
  height: 85vh;
  padding: 0 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  opacity: 1 !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox {
  color: var(--color-white);
  margin-bottom: 2.5rem;
}