//==========================
// CONTACT FORM SECTION
//==========================
@import "../scss/mixins";
@import "../scss/form";

.contact {
  padding: 10rem 0;
  background-color: var(--color-grey-light);
  text-align: center;

  @include respond(small-tab) {
    padding: 6rem 0;
  }
}

.form {
  width: 50%;
  margin: 8rem auto 0 auto;
  text-align: initial;

  @include respond(tab-port) {
    width: 65%;
  }

  @include respond(small-tab) {
    width: 75%;
  }

  @include respond(phone) {
    width: 95%;
  }
}

.input {
  width: 100%;
  display: block;

  &--textarea {
    height: 10rem;
  }
}